$color-blue: #5698c4;

$margin-top-25: 25px;

$size-text-large: 24px;
$size-text-large-mobile: 17px;
$size-text-regular: 18px;
$size-text-regular-mobile: 15px;
$size-text-small: 15px;
$size-text-small-tablet: 14px;
$size-text-small-mobile: 13px;
$size-text-tiny: 12px;
$size-text-tiny-mobile: 12px;
